.AddReferencePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.AddReferencePage > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 60vw;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	width: 100%;
	cursor: pointer;
}
