.AddReferencePage {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 100%;
  cursor: pointer;
}
