.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*scroll bar*/
.small-scroll-bar {
  overflow-x: auto;
  scrollbar-width: thin; /* For Firefox */
}

.small-scroll-bar::-webkit-scrollbar {
  height: 4px;
}

.small-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

.small-scroll-bar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

.small-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.small-scroll-bar:not(:hover)::-webkit-scrollbar {
  width: 0;
  height: 0;
}
